*{
	margin: auto;
	padding: auto;
	font-family: 'Open Sans', sans-serif;
}
body{
	overflow-x: hidden;
}
.home-content{
	background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.6)),url('images/banner2.jpg');
	background-position: center;
	background-size: cover;
	width: 100vw;
	height:80vh;
	z-index: -1;
}
.nav-bar{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}
.logo{
	margin:10px 0 0 20px;
	cursor:pointer;

}

.nav-rightpart{
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	margin-right: 10px;
}
.btn{
	padding: 10px 30px;
	color: white;
	background-color: #FFA500;
	font-size: 20px;
	top: auto;
	border: 0;
	
}
.btn:hover{
	cursor:pointer;
	border: 1px solid #FFA500;
	background-color: transparent;
}
.btn-login, .btn-signup{
	height: 40px;
	margin-right:10px;
	color: #dd571c;
	background-color: white;
	font-size: 16px;
}
.btn-signup{
	border: 2px solid #dd571c;
}
.btn-login:hover ,.btn-signup:hover{
	background-color: #a6a6a6;
	border: transparent;
}
.banner-text{
	width: 80%;
	color:white;
	text-align: center;
	margin: auto;
}

.banner-text h1{
	font-size: 50px;
	padding-top: 12%;
	
}
.banner-text p{
	font-size: 30px;
	margin-top:40px;
}
.btn-getstarted{
	margin-top: 20px;
}

/*-------------------Services Section---------------*/

#services{
	background-color: #f4f3ff;
	width:100%;
	height:auto;
	margin:auto;
	padding-bottom: 50px;
}

#services h1{
	text-align: center;
	padding-top: 80px;
	color: #1A1110;
	font-size: 30px;
}

#services h1::after{
	content:'';
	display:block;
	height: 2px;
	background-color: #d40504; 
	width:100px;
	text-align: center;
	margin: 10px auto 40px auto;
}

.services-content{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	margin-top: 40px;
	margin:auto;


}
.service{
	text-align: center;
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: center;
	max-width:200px;
	background-color: #d3d3d3;
	border:0;
	padding:20px;
	margin:40px 10px;
}
.service h3{
	color: #dd571c;
}
.icon{
	color: #dd571c;
	font-size: 30px;
	border: 8px solid #f4f3ff;
	padding: 14px 10px 6px 10px;
	border-radius: 50%;
	width:50px;
	height:45px;
	margin: -75px auto 0;
	background-color: white;

}
.service h3, .service p{
	margin:10px;
}

/*-------------Features section ------------*/
#features{
	background-color: #d3d3d3;
	width:100%;
	height:auto;
	margin:auto;
	padding-bottom: 50px;
	overflow-x: hidden;
}

#features h1{
	text-align: center;
	padding-top: 80px;
	color: #1A1110;
	font-size: 30px;
}

#features h1::after{
	content:'';
	display:block;
	height: 2px;
	background-color: #d40504; 
	width:100px;
	text-align: center;
	margin: 10px auto 40px auto;
}

#features ul {
	margin-top: 50px;
	margin-left: 50px;
	list-style-type: none;
}

#features ul li {
	line-height: 40px;
	font-size: 20px;
	position:relative;
}
#features ul li::after{
	content: '';
	height: 5px;
	width:5px;
	background-color: #d40504;
	position: absolute;
	transform: rotate(45deg);
	top: 20px;
	left:-20px;
}

.features-content{
	display: flex;
	justify-content: space-around;
	flex-direction: row;
	flex-wrap: wrap;
}

.features-list{
	min-width:400px;
	padding:15px;
	margin-bottom : 40px;
}

/*---------Get In Touch --------*/
#getintouch{
	background-color: rgba(0,0,0,0.1);
	width:100%;
	height:auto;
	margin:auto;
	padding-bottom: 50px;
	overflow-x: hidden;
}

#getintouch h1{
	text-align: center;
	padding-top: 80px;
	color: #1A1110;
	font-size: 30px;
}

#getintouch h1::after{
	content:'';
	display:block;
	height: 2px;
	background-color: #d40504; 
	width:100px;
	text-align: center;
	margin: 10px auto 40px auto;
}

input[type=text],input[type=email], textarea{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type=text]:focus {
  border: 3px solid #555;
 }

input[type=submit] {
  width: 40%;
  background-color: #dd571c;
  font-size: 16px;
  color: white;
  padding: 14px 20px;
  margin: 10px auto 10px 30%;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: transparent;
  border: 1px solid #dd571c;
  color: #dd571c;
}

div.form-content{
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  width:60%;
}

/*-------------footer------------*/
footer{
	background-color:  #f4f3ff;
	padding:40px;
}
.social-icons-container{
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: 200px;
	margin-top: 40px;
	

}
.social-icon{
	color: rgba(0,0,0,0.8);
	font-size: 30px;
}
.social-icon:hover{
	color: #dd571c;
	cursor: pointer;
}
.copyright{
	color: rgba(0,0,0,0.6);
}
.social-icons-section::after {
	content:'';
	display:block;
	height: 2px;
	background-color: #d40504; 
	width:400px;
	text-align: center;
	margin: 10px auto 40px auto;
}
footer{
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: center;
}
.company-details span{
	line-height: 20px;
	color: rgba(0,0,0,0.7);
}
.company-details{
	padding: 10px;
	margin-top: 40px;
	margin-bottom: 20px;
	text-align: center;
	background-color:  #f4f3ff;
	width:auto;
}


@media screen and (max-width: 580px) {
  .banner-text h1{
	font-size: 45px;
		
}
.banner-text p{
	font-size: 25px;
	margin-top:20px;
}
.btn-getstarted{
	margin-top: 20px;
}
.logo{
	height:80px;

}
.btn-login, .btn-signup{
	height:35px;
	margin:auto;
	font-size: 14px;
}
#services h1, #features h1, #getintouch h1{
	font-size: 25px;
}
div.form-content{
	width:80%;
}
}