*{
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
}
body{
	overflow-x: hidden;
}
.home-content{
	background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.6)),url('images/banner2.jpg');
	background-position: center;
	background-size: cover;
	width: 100vw;
	height:80vh;
	z-index: -1;
}
.nav-bar{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
.logo{
	margin:10px 0 0 20px;
	cursor:pointer;

}

.nav-rightpart{
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}
.btn{
	padding: 10px 30px;
	color: white;
	background-color: #FFA500;
	font-size: 20px;
	top: auto;
	border: 0;
	
}
.btn:hover{
	cursor:pointer;
	border: 1px solid #FFA500;
	background-color: transparent;
}
.btn-login, .btn-signup{
	height: 40px;
	margin-right:10px;
	color: #d40504;;
	background-color: white;
}
.btn-signup{
	border: 1px solid #d40504;;
}
.btn-login:hover ,.btn-signup:hover{
	background-color: #a6a6a6;
	border: transparent;
}
.banner-text{
	width: 80%;
	color:white;
	text-align: center;
	margin: auto;
}

.banner-text h1{
	font-size: 50px;
	padding-top: 12%;
	
}
.banner-text p{
	font-size: 30px;
	margin-top:40px;
}
.btn-getstarted{
	margin-top: 20px;
}

/*-------------------Services Section---------------*/

#services{
	background-color: #f4f3ff;
	width:100vw;
	height:auto;
	margin:auto;
}

#services h1{
	text-align: center;
	padding-top: 80px;
	color: #1A1110;
	font-size: 30px;
}

#services h1::after{
	content:'';
	display:block;
	height: 2px;
	background-color: #d40504; 
	width:100px;
	text-align: center;
	margin: 10px auto 40px auto;
}

.services-content{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	margin-top: 40px;
	margin:auto;


}
.service{
	text-align: center;
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: center;
	max-width:300px;
	background-color: #d3d3d3;
	border:0;
	padding:20px;
	margin:40px 10px;
}
.service h3{
	color: #dd571c;
}
.icon{
	color: #dd571c;
	font-size: 30px;
	border: 8px solid #f4f3ff;
	padding: 14px 10px 6px 10px;
	border-radius: 50%;
	width:50px;
	height:45px;
	margin: -75px auto 0;
	background-color: white;

}
.service h3, .service p{
	margin:10px;
}

